.home-container {
  background-image: url("https://wallpapercave.com/wp/wp12004151.png");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 1px 0px -1px 100px;
  padding: 5px;
}

.pagination-containerCards {
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  flex-wrap: wrap;
  gap: 2em;
  backdrop-filter: blur(0);
  background-color: rgba(255, 232, 214, 0.5);
  width: 90%;
  margin: 3px auto 0;
  padding: 25px;
}
